{{#if message}}
	<div class='message align-center'>{{message}}</div>

{{/if}}
{{! 
Главная страница
На главной странице сайта должен выводиться список из 10 отзывов и пагинация. Для каждого отзыва в тексте должны выводиться название товара, маленькое фото товара, автор отзыва, тип отзыва (негативный, позитивный), первые 50 слов отзыва и ссылка на страницу отзыва. }}

<div class='cards-list'>
	{{#if data}}
		{{#each data}}
			<div class='card'>
				<p class='align-center'><span>{{productName}}</span></p>
				<div class='card-img'>
					<img src='./products/{{productPhoto}}' alt='{{productName}} image' />
				</div>

				<p><span>author: </span>{{author}}</p>
				<p><span>type of the review: </span>{{reviewType}}</p>
				<p class='comment'><span>review: </span>{{cutWords comments 50}}</p>
				<a href='/review/{{_id}}' class='link'>Read full</a>

			</div>
		{{/each}}
	{{/if}}

</div>
<div class='pagination align-center'>
	{{#if (gt page 1)}}
		<a href='/?page={{decrement page}}'>&laquo; Prev</a>
	{{/if}}

	<span>Page {{page}} of {{totalPages}}</span>

	{{#if (lt page totalPages)}}
		<a href='/?page={{increment page}}'>Next &raquo;</a>
	{{/if}}
</div>