<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		<header>
			header
		</header>
		<main>
			{{{body}}}
			<div>
				<p>{{var1}}</p>
				<p>{{var2}}</p>
				<p>{{var3}}</p>
				<p>{{var4}}</p>
				<p>{{var5}}</p>
			</div>
		</main>
		<footer>
			footer
		</footer>
	</body>
</html>