<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<div>
			<h1>{{result.name}}</h1>
			<p>
				age:
				<span class='age'>{{result.age}}</span>, salary:
				<span class='salary'>{{result.salary}}</span>
			</p>
		</div>

		<div>
			<p>
				имя:
				<span class='name'>{{result.name}}</span>
			</p>
			<p>
				возраст:
				<span class='age'>{{result.age}}</span>, зарплата:
				<span class='salary'>{{result.salary}}$</span>,
			</p>
		</div>
	</body>
</html>