<div class='view-review--wrapper'>
	<h2 class='align-center'>View this review</h2>
	{{#if data}}
		{{#each data}}
			<div>
				<div id='review-img'>
					{{#if photo}}
						<img src='/{{photo}}' alt='Review photo' />
					{{else}}
						<img src='/products/{{productPhoto}}' alt='Review photo 1' />
					{{/if}}
				</div>

				<p><span>date: </span>{{dateConverter createdAt}}</p>
				<p><span>author: </span>{{author}}</p>
				<p><span>review Type: </span>{{reviewType}}</p>
				<p><span>advantages: </span>{{advantages}}</p>
				<p><span>disadvantages: </span>{{disadvantages}}</p>
				<p><span>comments: </span>{{comments}}</p>
			</div>
		{{/each}}
	{{/if}}
</div>